body{
    background-color:rgba(0, 0, 0, 0.751);
    justify-content: center;
    text-align: center;
}
.heading{
    margin-top: 15%;
}
h1{
    color:rgb(246, 241, 241);    
}
.color-picker{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.color-btn{ 
    text-align: center;
    width: 80px;
    height: 80px;
    border: 1px solid rgba(241, 205, 205, 0.861);
    margin:5px;
}
#purple{
    background-color: purple;
}
#blue{
    background-color: blue;
}
#red{
    background-color: red;
}
#green{
    background-color: green;
}
#yellow{
    background-color: yellow;
}