
.center{
    text-align: center;
    margin-top: 15%;
}
h1{
    color: #0c0112;
}
button{
    width: 100px;
    font-size: 20px;
    padding: 10px 0;
    background-color: #eed80b;
    color: #000;
    border: 1px solid orange;
    border-radius: 10px;
}